body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(97, 95, 95);

}

main{
    display: flex;
}

.title{
    margin-bottom: 20px;
}
.title_text{
    font-size: 50px;
    justify-content: center;
    color:white;
    text-align: center;
}

.image_box{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    

}

.live-image{
    width: 400px;
    height: 100%;
    margin-bottom: 50px;
}
